@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.border-gradient {
  background-image: linear-gradient(to bottom right, white, #27272a, #27272a);
}

.scroll-bar::-webkit-scrollbar {
  position: absolute;
  width: 5px;
  height: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #7c3aed; /* Cor padrão zinc-400 do Tailwind */
  border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #a855f7; /* Cor padrão zinc-500 do Tailwind */
}

/* Adicione este CSS no arquivo de estilos do seu projeto */
.custom-slider .slick-dots li button:before {
  color: #a855f7; /* Cor do dot */
}

.custom-slider .slick-dots li.slick-active button:before {
  color: #a855f7; /* Cor do dot ativo */
}
